
body {
	margin: 0;
	padding: 0;
}
.space-container {
	width: 100%;
	height: 115px;
	background-color: white;
}
.margin-problem {
	width: 100%;
	height: 450px;
	margin: auto;
	padding: 0;
	background-color: white;
}
.decision-container {
	width: 315px;
	height: 450px;
	margin: auto;
	padding: 0;
}
.decision-sub-container {
	width: 315px;
	height: 450px;
	margin: 0;
	padding: 0;
	border: 1px solid black;
}
.verification-container {
	width: 315px;
	height: 250px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.user-info-container {
    width: 315px;
	height: 120px;
	margin: 0;
	padding: 0;
	overflow: hidden;	
}
.user-info-container h4 {
	margin: 10px 0 0 20px;
	padding: 0;
	font-size: 16px;
	font-weight: lighter;
	font-family: fantasy;
	color: black;
}
.confirm-container {
	width: 315px;
	height: 170px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.confirm-container label {
	margin: 0 0 0 20px;
	padding: 0;
	font-size: 16px;
	font-weight: lighter;
	font-family: fantasy;
	color: black;
}
.confirm-container input {
    width: 236.5px;
    height: 20px;
    margin: 5px 0 0 20px;
    padding: 5px;
    font-family: fantasy;
    font-weight: lighter;
    font-size: 12px;
    text-align: center;
    color: black;
}
.confirm-container button {
    width: 250px;
    height: 50px;
    background-color: #00000085;
    margin: 10px 0 0 20px;
    padding: 5px;
    font-family: fantasy;
    font-weight: lighter;
    font-size: 16px;
    text-align: center;
    color: white;
    border: none;
}
.confirm-container button:focus {
	outline: none;
}
.confirm-container button:hover {
	background-color: #00000057;
}
.accept-or-deny-container {
	width: 315px;
	height: 250px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.accept-or-deny-container label {
	width: 315px;
	height: 10px;
	margin: 0;
	padding: 20px 0 0 20px;
	display: block;
	text-align: left;
	font-family: fantasy;
	font-size: 12px;
	font-weight: lighter;
	color: red;
}
.accept-or-deny-container button {
    width: 250px;
    height: 50px;
    background-color: #00000085;
    margin: 10px 0 0 20px;
    padding: 5px;
    font-family: fantasy;
    font-weight: lighter;
    font-size: 16px;
    text-align: center;
    color: white;
    border: none;
}
.accept-or-deny-container button:focus {
    outline: none;
}
.accept-or-deny-container button:hover {
    background-color: #00000057;	
}


